{% extends 'base.html' %}

{% block title %}
    {{ project_object.title }}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ project_object.name }}</h1>
            <p>{{ project_object.description }}</p>
            <h1>Tasks</h1>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>

        {% if project_object.tasks.all %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks in project_object.tasks.all %}
                        <tr>
                            <td>{{ tasks.name }}</td>
                            <td>{{ tasks.assignee }}</td>
                            <td>{{ tasks.start_date }}</td>
                            <td>{{ tasks.due_date }}</td>
                            <td>{{ tasks.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>

</body>
</html>
{% endblock content %}
